.button {
  --button-bg: var(--color-primary-300);
  --button-text: var(--color-neutral-0);
  --button-border-radius: var(--border-radius-m);
  --focus-color: var(--color-primary-400);

  /* Use tokens directly */
  --button-x-padding: 2em;
  --button-y-padding: 1.1em;

  display: inline-flex;
  gap: 0.4ch;
  align-items: center;
  line-height: var(--leading-flat);
  position: relative;
  border: none;
  border-radius: var(--button-border-radius);
  cursor: pointer;
  background: var(--button-bg);
  color: var(--button-text);
  padding: var(--button-y-padding) var(--button-x-padding);
  text-transform: uppercase;
  letter-spacing: var(--uppercase-kerning);
  text-decoration: none;
  font-size: var(--size-step-00);
  font-weight: var(--font-weight-bold);
}

.button:hover {
  filter: brightness(90%);
}

.button:active {
  transform: scale(99%);
}
