.page {
  --background-color-page: var(--color-neutral-100);
  --background-color-page-content: var(--color-neutral-0);

  padding: var(--space-2xs-l);
  background-color: var(--background-color-page);
}

.page__content {
  background-color: var(--background-color-page-content);
  max-width: var(--measure-l);
  padding: var(--space-m);
  margin-inline: auto;
}

.page__content--bleed {
  padding: 0;
}
