:root {
  --step--2: 0.7813rem;
  --step--1: 0.9375rem;
  --step-0: 1.125rem; /* 18 px*/
  --step-1: 1.35rem;
  --step-2: 1.62rem;
  --step-3: 1.944rem;
  --step-4: 2.3328rem;
  --step-5: 2.7994rem;
}

:root {
  --space-3xs: 5px;
  --space-2xs: 9px;
  --space-xs: 14px;
  --space-s: 18px;
  --space-m: 27px;
  --space-l: 36px;
  --space-xl: 54px;
  --space-2xl: 72px;
  --space-3xl: 108px;

  /* One-up pairs */
  --space-3xs-2xs: 5px;
  --space-2xs-xs: 9px;
  --space-xs-s: 14px;
  --space-s-m: 18px;
  --space-m-l: 27px;
  --space-l-xl: 36px;
  --space-xl-2xl: 54px;
  --space-2xl-3xl: 72px;

  /* Custom pairs */
  --space-s-l: 18px;
  --space-2xs-l: 9px;
}
