@layer reset, global, compositions, components, utilites;

@import "./reset.css" layer(reset);

@import "./design-tokens.defaults.css" layer(global);
@import "./design-tokens.typography.font-sizes.css" layer(global);
@import "./design-tokens.spacing.css" layer(global);
@import "./design-tokens.colors.neutral.css" layer(global);
@import "./design-tokens.colors.primary-01.css" layer(global);
@import "./design-tokens.css" layer(global);

@import "./global.css" layer(global);

@import "./compositions/flow.css" layer(compositions);
@import "./compositions/grid.css" layer(compositions);

@import "./components/doc-section.css" layer(compositions);
/* Add new components below */
