---
title: A Tiny Company
layout: layouts/base.njk
---

<main id="main" class="[ main ][ page ]" tabindex="-1" aria-live="polite">
  <nav class="page__content page__content--bleed">
    <ul role="list" class="tabs">
      <li><a class="tabs__tab" href="/">Text</a></li>
      <li><a class="tabs__tab" href="/form">Form</a></li>
      <li><a class="tabs__tab tabs__tab--active" href="/cards">Cards</a></li>
      <li><a class="tabs__tab" href="#">A silly & long named tab</a></li>
    </ul>
  </nav>
  <div class="[ page__content ][ flow ]">
    <h1>Some cards</h1>
    <ul role="list" class="grid" data-layout="thirds">
      <li>
        <div class="blurb">
          <h2 class="blurb__title">Hello world</h2>
          <div class="blurb__cover">
            <img src="" alt="" />
          </div>
          <span class="blurb__count">01</span>
        </div>
      </li>

      <li>
        <div class="blurb">
          <h2 class="blurb__title">Something else</h2>
          <div class="blurb__cover">
            <img src="" alt="" />
          </div>
          <span class="blurb__count">02</span>
        </div>
      </li>

      <li>
        <div class="blurb">
          <h2 class="blurb__title">Yet another one</h2>
          <div class="blurb__cover">
            <img src="" alt="" />
          </div>
          <span class="blurb__count">03</span>
        </div>
      </li>

      <li>
        <div class="blurb">
          <h2 class="blurb__title">A silly one too</h2>
          <div class="blurb__cover">
            <img src="" alt="" />
          </div>
          <span class="blurb__count">04</span>
        </div>
      </li>
    </ul>
  </div>
</main>
