---
title: Our Components
layout: layouts/base.njk
---

<div class="card-container">
    <div class="header-card">
      <div class="content-left">
        <div class=" avatar">
          <i class="fa-solid fa-user"></i>
        </div>
        
        <div>
          <div class="text-primary">Jason Randolf</div>
          <div class="text-secondary">2 minutes ago</div>
        </div>
      </div>
      <div class="content-right">
        <i class="fa-solid fa-share-nodes space-icon"></i>
        <i class="fa-solid fa-bookmark space-icon"></i>
        <i class="fa-solid fa-ellipsis"></i>
      </div>
    </div>
    <div class="content">
      <h3><b>What a movieeeeee!</b></h3> 
      <p>Aliquam viverra nisl amet nunc eget vitae turpis. Nisl nulla tellus volutpat in tortor. Proin facilisis magna tortor congue urna ac id vulputate. Quis elementum magna scelerisque quisque volutpat magnis facilisi tempus neque. Lectus leo sagittis lacus consectetur ut.</p>
      <div class="space-content">
        <p>See more</p>
      </div>
       <div class="img-movie space-content"></div>
      <div class="detail-movie space-content">
        <div class="content-movie">
          <div class="poster-movie"></div>
          <div>
            <p>John Wick: Chapter 4</p> 
            <p>2023</p>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star-half-stroke space-icon"></i>
            <i class="fa-solid fa-heart"></i>
          </div>
        </div>
        <div class="content-movie">
          <div class=" avatar avatar-add-movie">
            <i class="fa-solid fa-bookmark"></i>
          </div>
          <div class="view-movie">View movie</div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="content-left">
        <i class="fa-regular fa-thumbs-up space-icon"></i>
        <i class="fa-regular fa-comment-dots"></i>
      </div>
      <div class="content-right">
        <p>0 comment</p>
      </div>
    </div>
</div>