---
title: Pattern Library
layout: layouts/base.njk
---

<main id="main" class="[ main ]" tabindex="-1" aria-live="polite">
  <div class="doc-section">
    <div class="doc-section__header">
      <h1>{{ title }}</h1>
    </div>
  </div>

  <div class="doc-section">
    <div class="doc-section__header">
      <h2>Text Sizes</h2>
    </div>

    <div class="doc-section__content">
      <div class="flow">
        <p style="font-size: var(--step--2);">
          <code>--step--2</code> The sky, at sunset, looked like a carnivorous
          flower.
        </p>
        <p style="font-size: var(--step--1);">
          <code>--step-1</code> The sky, at sunset, looked like a carnivorous
          flower.
        </p>
        <p style="font-size: var(--step-0);">
          <code>--step-0</code> The sky, at sunset, looked like a carnivorous
          flower.
        </p>
        <p style="font-size: var(--step-1);">
          <code>--step-1</code> The sky, at sunset, looked like a carnivorous
          flower.
        </p>
        <p style="font-size: var(--step-2);">
          <code>--step-2</code> The sky, at sunset, looked like a carnivorous
          flower.
        </p>
        <p style="font-size: var(--step-3);">
          <code>--step-3</code> The sky, at sunset, looked like a carnivorous
          flower.
        </p>
        <p style="font-size: var(--step-4);">
          <code>--step-4</code> The sky, at sunset, looked like a carnivorous
          flower.
        </p>
        <p style="font-size: var(--step-5);">
          <code>--step-5</code> The sky, at sunset, looked like a carnivorous
          flower.
        </p>
      </div>
    </div>
  </div>

  <div class="doc-section" data-doc-section-bleed="true">
    <div class="doc-section__header">
      <h2>Header Component</h2>
    </div>

    <header class="header">
      <div class="navbar">
        <div class="navbar__menu">
          <button class="menu-toggle">
            <i class="fas fa-bars"></i>
          </button>
          <div class="navbar__logo">
            Logo
          </div>
        </div>
        <div class="navbar__icons">
          <button class="icon-button">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
          <button class="icon-button">
            <i class="fas fa-bell"></i>
          </button>
          <button class="profile-icon">
            <img src="https://wac-cdn.atlassian.com/dam/jcr:ba03a215-2f45-40f5-8540-b2015223c918/Max-R_Headshot%20(1).jpg?cdnVersion=2260" alt="Profile">
          </button>
        </div>
      </div>

      <nav class="nav">
        <a href="#" class="nav-link active">Home</a>
        <a href="#" class="nav-link">Discover</a>
        <a href="#" class="nav-link">Watch Parties</a>
        <a href="#" class="nav-link">Leaderboard</a>
      </nav>
    </header>
  </div>

  <div class="doc-section" data-doc-section-bleed="true">
    <div class="doc-section__header">
      <h2>Buttons</h2>
    </div>

    <div class="doc-section__content">
      <div class="flow">
      <button class="icon-button">
        Latest
        <i class="fa-solid fa-chevron-down"></i>
      </button>

      <button class="toolbar icon-button">
        <i class="fa-solid fa-plus"></i>
        Add New
      </button>
      </div>
    </div>
  </div>

  <div class="doc-section" data-doc-section-bleed="true">
    <div class="doc-section__header">
      <h2>Trending Reviews & Movies</h2>
    </div>
    <div class="doc-section__content">
      <div class="flow">

        <div>
          <div class="trending-button review">
              <div class="trending-button-text">
                <i class="fa-solid fa-message" style="color: blue; margin-right: 10px;"></i>
                <p style="font-size: var(--step-1);" class="trending">Trending Reviews</p>
              </div>

              <button class="icon-button">
                <i class="fa-solid fa-chevron-right" style="color: ##6D7588"></i>
              </button>
          </div>

          <div class="trending-button review">
              <div class="trending-button-text">
                <i class="fa-solid fa-film" style="color: #00995E; margin-right: 10px;"></i>
                <p style="font-size: var(--step-1);" class="trending">Trending Movies</p>
              </div>

              <button class="icon-button">
                <i class="fa-solid fa-chevron-right" style="color: ##6D7588"></i>
              </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="doc-section">
    <div class="doc-section__header">
      <h2>Colors</h2>
    </div>

    <div class="doc-section__content">
      <div class="flow">
        <h3>Neutrals</h3>
        <ul
          class="grid"
          role="list"
          style="--grid-min-item-size: 5rem; --gap: 1rem"
        >
          <li>
            <div class="doc-swatch" style="color: var(--color-neutral-0)"></div>
          </li>
          <li>
            <div
              class="doc-swatch"
              style="color: var(--color-neutral-100)"
            ></div>
          </li>
          <li>
            <div
              class="doc-swatch"
              style="color: var(--color-neutral-200)"
            ></div>
          </li>
          <li>
            <div
              class="doc-swatch"
              style="color: var(--color-neutral-300)"
            ></div>
          </li>
          <li>
            <div
              class="doc-swatch"
              style="color: var(--color-neutral-400)"
            ></div>
          </li>
          <li>
            <div
              class="doc-swatch"
              style="color: var(--color-neutral-500)"
            ></div>
          </li>
          <li>
            <div
              class="doc-swatch"
              style="color: var(--color-neutral-600)"
            ></div>
          </li>
          <li>
            <div
              class="doc-swatch"
              style="color: var(--color-neutral-700)"
            ></div>
          </li>
          <li>
            <div
              class="doc-swatch"
              style="color: var(--color-neutral-800)"
            ></div>
          </li>
          <li>
            <div
              class="doc-swatch"
              style="color: var(--color-neutral-900)"
            ></div>
          </li>
          <li>
            <div
              class="doc-swatch"
              style="color: var(--color-neutral-1000)"
            ></div>
          </li>
        </ul>

        <h3>Primary</h3>
        <ul
          class="grid"
          role="list"
          style="--grid-min-item-size: 5rem; --gap: 1rem"
        >
          <li>
            <div
              class="doc-swatch"
              style="color: var(--color-primary-100)"
            ></div>
          </li>
          <li>
            <div
              class="doc-swatch"
              style="color: var(--color-primary-200)"
            ></div>
          </li>
          <li>
            <div
              class="doc-swatch"
              style="color: var(--color-primary-300)"
            ></div>
          </li>
          <li>
            <div
              class="doc-swatch"
              style="color: var(--color-primary-400)"
            ></div>
          </li>
          <li>
            <div
              class="doc-swatch"
              style="color: var(--color-primary-500)"
            ></div>
          </li>
          <li>
            <div
              class="doc-swatch"
              style="color: var(--color-primary-600)"
            ></div>
          </li>
          <li>
            <div
              class="doc-swatch"
              style="color: var(--color-primary-700)"
            ></div>
          </li>
          <li>
            <div
              class="doc-swatch"
              style="color: var(--color-primary-800)"
            ></div>
          </li>
          <li>
            <div
              class="doc-swatch"
              style="color: var(--color-primary-900)"
            ></div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="doc-section" data-doc-section-bleed="true">
    <div class="doc-section__header">
      <h2>Sample section that bleeds</h2>
    </div>

    <div class="doc-section__content">
      <div class="flow">
        <h1>h1 Hello world</h1>
        <h2>h2 Hello world</h2>
        <h3>h3 Hello world</h3>
      </div>
    </div>
  </div>
</main>
