---
title: Pattern Library
layout: layouts/base.njk
---

<main id="main" class="[ main ]" tabindex="-1" aria-live="polite">
  <div class="doc-section">
    <div class="doc-section__header">
      <h1>Pattern Library</h1>
    </div>
  </div>

  <div class="doc-section">
    <div class="doc-section__header">
      <h2>Text Sizes</h2>
    </div>

    <div class="doc-section__content">
      <div class="flow">
        <h1>h1 Hello world</h1>
        <h2>h2 Hello world</h2>
        <h3>h3 Hello world</h3>
        <h4>h4 Hello world</h4>
        <p>
          p “Well, I found my plans very seriously menaced. It looked as if the
          pair might take an immediate departure, and so necessitate very prompt
          and energetic measures on my part. At the church door, however, they
          separated, he driving back to the Temple, and she to her own house. 'I
          shall drive out in the park at five as usual,' she said as she left
          him. I heard no more. They drove away in different directions, and I
          went off to make my own arrangements.”
        </p>
      </div>
    </div>
  </div>

  <div class="doc-section">
    <div class="doc-section__header">
      <h2>Colors</h2>
    </div>

    <div class="doc-section__content">
      <div class="flow">
        <h3>Neutrals</h3>
        <ul
          class="grid"
          role="list"
          style="--grid-min-item-size: 5rem; --gap: 1rem"
        >
          <li>
            <div class="doc-swatch" style="color: var(--color-neutral-0)"></div>
          </li>
          <li>
            <div
              class="doc-swatch"
              style="color: var(--color-neutral-100)"
            ></div>
          </li>
          <li>
            <div
              class="doc-swatch"
              style="color: var(--color-neutral-200)"
            ></div>
          </li>
          <li>
            <div
              class="doc-swatch"
              style="color: var(--color-neutral-300)"
            ></div>
          </li>
          <li>
            <div
              class="doc-swatch"
              style="color: var(--color-neutral-400)"
            ></div>
          </li>
          <li>
            <div
              class="doc-swatch"
              style="color: var(--color-neutral-500)"
            ></div>
          </li>
          <li>
            <div
              class="doc-swatch"
              style="color: var(--color-neutral-600)"
            ></div>
          </li>
          <li>
            <div
              class="doc-swatch"
              style="color: var(--color-neutral-700)"
            ></div>
          </li>
          <li>
            <div
              class="doc-swatch"
              style="color: var(--color-neutral-800)"
            ></div>
          </li>
          <li>
            <div
              class="doc-swatch"
              style="color: var(--color-neutral-900)"
            ></div>
          </li>
          <li>
            <div
              class="doc-swatch"
              style="color: var(--color-neutral-1000)"
            ></div>
          </li>
        </ul>

        <h3>Primary</h3>
        <ul
          class="grid"
          role="list"
          style="--grid-min-item-size: 5rem; --gap: 1rem"
        >
          <li>
            <div
              class="doc-swatch"
              style="color: var(--color-primary-100)"
            ></div>
          </li>
          <li>
            <div
              class="doc-swatch"
              style="color: var(--color-primary-200)"
            ></div>
          </li>
          <li>
            <div
              class="doc-swatch"
              style="color: var(--color-primary-300)"
            ></div>
          </li>
          <li>
            <div
              class="doc-swatch"
              style="color: var(--color-primary-400)"
            ></div>
          </li>
          <li>
            <div
              class="doc-swatch"
              style="color: var(--color-primary-500)"
            ></div>
          </li>
          <li>
            <div
              class="doc-swatch"
              style="color: var(--color-primary-600)"
            ></div>
          </li>
          <li>
            <div
              class="doc-swatch"
              style="color: var(--color-primary-700)"
            ></div>
          </li>
          <li>
            <div
              class="doc-swatch"
              style="color: var(--color-primary-800)"
            ></div>
          </li>
          <li>
            <div
              class="doc-swatch"
              style="color: var(--color-primary-900)"
            ></div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="doc-section" data-doc-section-bleed="true">
    <div class="doc-section__header">
      <h2>Sample section that bleeds</h2>
    </div>

    <div class="doc-section__content">
      <div class="flow">
        <h1>h1 Hello world</h1>
        <h2>h2 Hello world</h2>
        <h3>h3 Hello world</h3>
      </div>
    </div>
  </div>
</main>
