---
title: Pattern Library
layout: layouts/base.njk
---

<main id="main" class="[ main ]" tabindex="-1" aria-live="polite">
  <div class="doc-section">
    <div class="doc-section__header">
      <h1>Pattern Library</h1>
    </div>
  </div>

  <div class="doc-section">
    <div class="doc-section__header">
      <h2>Text Sizes</h2>
    </div>

    <div class="doc-section__content">
      <div class="flow">
        <h1>h1 Hello world</h1>
        <h2>h2 Hello world</h2>
        <h3>h3 Hello world</h3>
      </div>
    </div>
  </div>

  <div class="doc-section" data-doc-section-bleed="true">
    <div class="doc-section__header">
      <h2>Sample section that bleeds</h2>
    </div>

    <div class="doc-section__content">
      <div class="flow">
        <h1>h1 Hello world</h1>
        <h2>h2 Hello world</h2>
        <h3>h3 Hello world</h3>
      </div>
    </div>
  </div>
</main>
