---
title: Group 4
layout: layouts/base.njk
---
<main id="main" class="[ main ][ page ]" tabindex="-1" aria-live="polite">
  <div class="container">
    <div class="card">
      <p class="content-title">
        <i class="fa-solid fa-arrow-trend-up icon-trend"></i> Popular This Week
      </p>
      <div id="slider">
        <div id="slider-image-container">
          <figure class="slider-image">
            <img class="image-content" src="https://uploads6.wikiart.org/images/pablo-picasso/the-abduction-of-sabines-1962-1.jpg" alt="">
            <div class="image-description">
              <p>Sexy Title for Title Thingy</p>
            </div>
          </figure>
          <figure class="slider-image">
            <img class="image-content" src="https://cdn.antaranews.com/cache/1200x800/2024/07/11/1720704812259_bka0j7_2_0.jpg" alt="">
            <div class="image-description">
              <p>Sexy Title for Title Thingy</p>
            </div>
          </figure>
          <figure class="slider-image">
            <img class="image-content" src="https://upload.wikimedia.org/wikipedia/commons/7/72/Peter_Paul_Rubens_(taller)_-_Rapto_de_las_Sabinas.jpg" alt="">
            <div class="image-description">
              <p>Sexy Title for Title Thingy</p>
            </div>
          </figure>
          <figure class="slider-image">
            <img class="image-content" src="https://uploads6.wikiart.org/images/pablo-picasso/the-abduction-of-sabines-1962-1.jpg" alt="">
            <div class="image-description">
              <p>Sexy Title for Title Thingy</p>
            </div>
          </figure>
        </div>
      </div>
    </div>
  </div>
</main>
